<h4>Pitchfork Approved?</h4>
<input type="text" class="input form-control" id="artist" placeholder="Artist">
<button id="btn-search">Search</button>
<br><br>

<div id="result"></div>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>


<script type="text/javascript">
    $("#artist").keyup(function(event) {
        if (event.keyCode === 13) {
            $("#btn-search").click();
        }
    });

    $("#btn-search").click(function () {
        $( "#result" ).html( "<i>Searching...</i>" );

        var artist = $("#artist").val();
        $.get( "/search/" + artist, function( data ) {
            $( "#result" ).html( data );
        });
    });
</script>
